* {
    box-sizing: border-box;
    
}
body {
    background-color: #574D4C;
    
}

.container {
    background-color: #6B4C9F;
    margin:auto;
    position: relative;
    width: 850px;
    height: 300px;
    border: 2px solid #10071E;
    border-radius: 15px;
  

}
.container img {
    position: absolute;
    border-radius: 15px;
}
.name {
    color: #6B4C9F;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    top: 143px;
    left: 228px;
    -webkit-text-stroke: 1px white;
    
}

.header {
    
}


.btn-group button {
    position: relative;
    left: 507px;
    cursor: pointer;
    color: grey;
    padding: 5px 22px;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(63, 47, 75, 0.2);
    transition: all 0.4s ease-in-out;
    

}

button:hover {
    color: #10071E;
    
}

.picture {
    height: 200px;
    width: 200px;
    top: 104px;
    left: 23px;
    /* shape-outside: circle(50% at 0 0) padding-box; */
    /* clip-path: circle(); */
    position: relative;
    z-index: 4;
    border-radius: 100px;
    box-shadow: 1px 1px 2px black, 0 0 15px blue, 0 0 5px darkblue;
}
.picture img{
    border-radius: 100px;
}

.nav {
    background-color: #482E74;
    width: 850px;
    height: 41px;
    top: 28px;
    left: -2px;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top:1px solid #10071E;
}
 ul {
     position: relative;
    list-style: none;
    left: 242px;
    top: -12px;
  
}

li {
    display: inline-block;
    /* float: right; */
    /* border: black solid 2px;
    background-color: white; */

}

a:link {
    background-color: whitesmoke;
    color: grey;
    border: 1px solid #482E74;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
   
}

.column1 {
    position: relative;
    margin: auto;
    top: 18px;
    left: -257px;
    width: 328px;
    height: 1000px;
    
}
.column2 {
    position: relative;
    margin: auto;
    top: -983px;
    left: 172px;
    width: 512px;
    height: 2000px;
    
}
#card {
    background-color:whitesmoke;
    box-shadow: 1px 1px 2px black, 0 0 8px blue, 0 0 5px darkblue;
    top: 18px;
    left: -257px;
    height: 100px;
    border: 2px solid #482E74;
    border-radius: 8px;
}
#card h3 {
    position: relative;
    top: -18px;
    left: 79px;
}
#card>p {
    position: relative;
    width: 245px;
    word-wrap: break-word;
    top: -26px;
    left: 80px;
}
.cardpic {
    position: absolute;
    left: 10px;
    top: 18px;
    background-color: turquoise;
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 100px;
}
.cardpic>img {
    border: 2px solid darkblue;
    border-radius: 100px;
}
#card2 {
    background-color:whitesmoke;
    box-shadow: 1px 1px 2px black, 0 0 8px blue, 0 0 5px darkblue;
    top: 18px;
    left: -257px;
    height: 280px;
    border: 2px solid #482E74;
    border-radius: 8px;

}
#card2 a {
    padding: 1px 8px;
    border: none;

} 
#card2 p {
    position: relative;
    top: -278px;
    left: 0px;
}
#card2 img {
    
    border-radius: 8px;
}
.cardpic2 {
   
   position: relative; 
    top: 21px;
    height: 225px;
    border: 2px solid #482E74;
    border-radius: 5px;
}
.cardnav button{
    position: relative;
    color: gray;
    top: -52px;
    left: 6px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #482E74;

}
dt ul{
    position: relative;
    top: 7px;
    left: 15px;

}