* {
    box-sizing: border-box;
    
}

.container {
    background-color: lightblue;
    margin:auto;
    position: relative;
    width: 850px;
    height: 300px;
    border: 2px solid red;
    border-radius: 25px;
  

}
.name {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    /* display: inline-flex; */
    top: 143px;
    left: 228px;
    
}

.header {
    
}


.btn-group button {
    float: right;
    cursor: pointer;
    color: grey;
    padding: 10px 24px;
    border: 1px solid darkgray;


}

.btn-group button:not(:last-child) {
    border-right: none;
}
.btn-group::after {
    content: "";
    clear: both;
    display: initial;
}

/* #glow {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    display: block;
    box-shadow: yellowgreen;
} */

.picture {
    background-color: salmon;
    height: 200px;
    width: 200px;
    top: 114px;
    left: 23px;
    /* shape-outside: circle(50% at 0 0) padding-box; */
    /* clip-path: circle(); */
    position: relative;
    z-index: 4;
    border-radius: 100px;
    box-shadow: 1px 1px 2px black, 0 0 15px blue, 0 0 5px darkblue;
}
.nav {
    background-color: tomato;
    width: 850px;
    height: 41px;
    top: 41px;
    left: -2px;
    position: relative;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top:4px solid yellow;
}